@charset "UTF-8";
/*
|– abstracts/
| |– _variables.scss # Sass переменные
| |– _functions.scss # Sass функции
| |– _mixins.scss # Sass миксины
| |– _placeholders.scss # Sass плейсхолдеры
|
|– vendors/
| |– _bootstrap.scss # Bootstrap
| |– _jquery-ui.scss # jQuery UI
| … # и так далее
|
|– base/
| |– _reset.scss # Reset/normalize
| |– _typography.scss # Типографика
| … # Прочее
|
|– layout/
| |– _navigation.scss # Навигация
| |– _grid.scss # Сетка
| |– _header.scss # Шапка
| |– _footer.scss # Футер
| |– _sidebar.scss # Сайдбар
| |– _forms.scss # Формы
| … # и так далее
|
|– components/
| |– _buttons.scss # Кнопки
| |– _carousel.scss # Карусель
| |– _cover.scss # Обложка
| |– _dropdown.scss # Выпадашка
| … # и так далее
|
|– pages/
| |– _home.scss # Специфичные стили страницы Home
| |– _contact.scss # Специфичные стили страницы Contact
| … # и так далее
|
|– themes/
| |– _theme.scss # Тема по умолчанию
| |– _admin.scss # Тема админа
| … # и так далее
|
*/
.lazy {
  display: block;
  width: 100%;
  height: auto;
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.lazy.loaded {
  opacity: 1;
  animation: lazy-load-fade-in 1 0.15s ease-out;
}

@keyframes lazy-load-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  background: #fff;
}

/**
 * Basic styles for links
 */
a {
  color: rgba(255, 230, 0, 0.884);
}

::placeholder {
  color: #666;
}

::selection {
  color: #fff;
  background: rgba(255, 230, 0, 0.884);
}

input, textarea {
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid, textarea:required:valid {
  border-color: green;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.45;
  overflow-x: hidden;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/*
16x + 320/100 * 0.25 = 16 - 
если множитель базовой высоты(16) будет равен 0.95
то заголовок при ширине 320px будет 16px
https://math24.biz/equation -- уравнения
https://web2.0calc.com/     -- калькулятор
 множ | 320 | 576   | 768   | 992
-----------------------------
 0.95 | 16  | 16.64 | 17.12 | 17.68
*/
h1 {
  font-size: 1.85rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../../fonts/montserrat-black.woff") format("woff");
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 990) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 768) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 580) {
  ._container {
    max-width: 970px;
  }
}

._row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/*# sourceMappingURL=main.css.map */
