// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {

  
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
  color: $textcolor;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: $fontsize;
}