// https://sass-guidelin.es/ru/#section-36 пример структуры компонента (чуть ниже прокрутить)

/*
htmlacademy
разобраться во всех свойствах

// можно сделать разделение по типам "заполнение" и "контур", 
// н-р- синяя, по умолчанию вся синяя с белым текстом, или с модификатором типа  --outer - бордер синий фона
// или фон белый ( кстати без фона можно дополнительным модификаром) если нужна поверх чего-то

---
при создании состояний (типа progress) учесть что не всем можно добавлять псевдоэлементы (input submit и другие не закрывающиеся)
*/

/*
зеленая по центру 
bdrs10
color: #fff;

yellow
color: #fff;
bdrs6
m0a
*/

// Переменные для кнопки
$button-color: $accent;
$button-color-text: #fff;
$button-color-text-second: #333;


.btn {
  display: inline-block;
  margin: 0 auto;
  padding: .45em 1.5em;    
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: $button-color-text;
    
  background-color: $button-color;
  border: 3px solid $button-color;
  border-radius: 0;

  @include transition(.2s);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  position: relative;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  word-wrap: normal;
  cursor: pointer;


  &--outline {
    background: none;
    color: $button-color-text-second;

    &:hover {
      color: $button-color-text;
    }
  }

  &:hover {
    background: darken($button-color, 7%);
    border-color: darken($button-color, 7%);
  }
}


.btn--full-width { 
  display: block; 
}

.btn--center {
  display: block;
  width: -moz-min-content;    /* Firefox */
  width: -webkit-min-content; /* Chrome */  
  width: min-content;
}

