// main colors 
$primary:   #15DEA5 !default;
$secondary: #001534 !default;
$accent:    rgba(255, 230, 0, 0.884) !default;

// gray colors
$light-gray:#eee !default;
$mid-gray:  #ccc !default;
$dark-gray: #bbb !default;

// notices colors
$success:   #28a745 !default;
$danger:    #dc3545 !default;
$warning:   #ffc107 !default;
$info:      #17a2b8 !default;


// base vars
$body-bg: #fff;
$text-color: $secondary;
$font-size: 0.875rem; // Body Font Size (1rem == 16px)
$line-height-base: 1.45;
$main-font: 'Roboto', sans-serif; // Roboto Font Family 
$title-font: 'Montserrat', sans-serif;
//$decor-font: 'decor', sans-serif;

// siszes
$max-width: 1200px; // for ._container
$min-width: 300px; 
$gutter-width: 30px; // расстояние между колонками и $gutter-width / 2 = паддинги контейнера
//$min-width: 320px;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;